In [ ]:
primeiro_nome = input("Digite seu primeiro nome: ")
sobrenome = input("Digite seu sobrenome: ")

print("Seu nome completo é:", primeiro_nome, sobrenome)

Digite seu primeiro nome: lucas
Digite seu sobrenome: diniz
Seu nome completo é: lucas diniz

In [ ]:
print("x         x")
print(" x      x  ")
print("  X   x    ")
print("    x      ")
print("   x  x    ")
print(" x      x  ")
print("x         x")

x            x
  x         x
    X    x
      x
     x   x
   x        x
 x            x

In [ ]:
preco_original = float(input("Digite o preço original do produto: "))

desconto = preco_original * 0.20
preco_com_desconto = preco_original - desconto

print("Preço original: R$", preco_original)
print("Você ganhou R$", desconto, "de desconto.")
print("Preço com desconto: R$", preco_com_desconto)

Digite o preço original do produto: 3200
Preço original: R$ 3200.0
Você ganhou R$ 640.0 de desconto.
Preço com desconto: R$ 2560.0

In [ ]:
preco_original = float(input("Digite o preço original do produto: "))
porcentagem_desconto = float(input("Digite a porcentagem de desconto: "))

desconto = preco_original * (porcentagem_desconto / 100)
preco_com_desconto = preco_original - desconto

print("Preço original: R$", preco_original)
print("Você ganhou R$", desconto, "de desconto.")
print("Preço com desconto: R$", preco_com_desconto)

In [ ]:
valor1 = float(input("Digite o primeiro valor: "))
valor2 = float(input("Digite o segundo valor: "))
valor3 = float(input("Digite o terceiro valor: "))

media = (valor1 + valor2 + valor3) / 3

print("A média aritmética dos valores é:", media)

Digite o primeiro valor: 55
Digite o segundo valor: 76
Digite o terceiro valor: 68
A média aritmética dos valores é: 66.33333333333333

In [ ]:
import math

valor1 = float(input("Digite o primeiro valor positivo: "))
valor2 = float(input("Digite o segundo valor positivo: "))
valor3 = float(input("Digite o terceiro valor positivo: "))
valor4 = float(input("Digite o quarto valor positivo: "))


media_aritmetica = (valor1 + valor2 + valor3 + valor4) / 4

media_geometrica = math.pow(valor1 * valor2 * valor3 * valor4, 1/4)
media_harmonica = 4 / (1/valor1 + 1/valor2 + 1/valor3 + 1/valor4)

print("Média aritmética simples:", media_aritmetica)
print("Média geométrica:", media_geometrica)
print("Média harmônica:", media_harmonica)

In [ ]:

num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
num3 = int(input("Digite o terceiro número inteiro: "))


maior_numero = max(num1, num2, num3)


print("O maior número é:", maior_numero)

In [ ]:

num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
num3 = int(input("Digite o terceiro número inteiro: "))


numeros = [num1, num2, num3]
numeros_ordenados = sorted(numeros)


print("Números em ordem crescente:", numeros_ordenados)

In [ ]:

str1 = input("Digite a primeira string: ")
str2 = input("Digite a segunda string: ")
str3 = input("Digite a terceira string: ")

strings = [str1, str2, str3]
strings_ordenadas = sorted(strings)

print("Strings em ordem alfabética:", strings_ordenadas)

In [ ]:

sexo = input("Digite seu sexo (homem/mulher): ")
peso = float(input("Digite seu peso em kg: "))
altura = float(input("Digite sua altura em cm: "))
idade = int(input("Digite sua idade em anos: "))

if sexo.lower() == "homem":
    tmb = 66.47 + (13.75 * peso) + (5.003 * altura) - (6.755 * idade)
elif sexo.lower() == "mulher":
    tmb = 655.09 + (9.563 * peso) + (1.85 * altura) - (4.676 * idade)
else:
    print("Sexo inválido.")
    exit()


print("Sua Taxa Metabólica Basal (TMB) é:", tmb, "calorias")

In [ ]:

numero = int(input("Digite um número inteiro: "))


print("Tabuada do", numero, ":")
for i in range(1, 11):
    print(numero, "x", i, "=", numero * i)